[submodule "zsh-syntax-highlighting"]
	path = home/zsh/zsh-syntax-highlighting
	url = https://github.com/sonph/zsh-syntax-highlighting
[submodule "home/vim/bundle/Vundle.vim"]
	path = home/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "home/zsh/z"]
	path = home/zsh/z
	url = https://github.com/rupa/z
[submodule "home/tmux/tmux-sessionist"]
	path = home/tmux/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
