[submodule "zsh-syntax-highlighting"]
	path = home/zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "home/zsh/z"]
	path = home/zsh/z
	url = https://github.com/rupa/z
[submodule "home/tmux/tmux-sessionist"]
	path = home/tmux/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist
[submodule "home/zsh/history-search-multi-word"]
	path = home/zsh/history-search-multi-word
	url = https://github.com/zdharma/history-search-multi-word
[submodule "home/zsh/zsh-autosuggestions"]
	path = home/zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
