"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
    ]
    themes: [
      "spacegray-light-ui"
      "one-light-syntax"
    ]
  editor:
    fontSize: 12
    invisibles: {}
    scrollPastEnd: true
    showIndentGuide: true
  welcome:
    showOnStartup: false
