"*":
  core:
    disabledPackages: [
      "metrics"
      "exception-reporting"
      "whitespace"
    ]
    telemetryConsent: "no"
    themes: [
      "spacegray-light-neue-ui"
      "one-light-syntax"
    ]
  editor:
    fontFamily: "Menlo"
    invisibles: {}
    lineHeight: 1.7
    scrollPastEnd: true
    showIndentGuide: true
  welcome:
    showOnStartup: false
